$purple: #8b37ff;
$off-white: rgb(240, 240, 240);

body {
    background-color: $off-white;
}
.btn-primary {
    background-color: $purple;
    padding: .5rem 2rem;
    border: none;
    border-radius: 25px;
}
.curly {
    color: $purple;
}
.hero {
    background-color: grey;
    background-image: url("/hero.jpeg");
    background-blend-mode: darken;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}
.display-1 {
    font-weight: bolder;
}
.display-5 {
    font-weight: bold;
}
.row {
    width: 70%;
}
.center-item {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.navbar {
    height: 10vh;
    padding: .5rem 4rem;
    .nav-link {
        cursor: pointer;
    }
}