$purple: #8b37ff;

.btn-primary {
    background-color: $purple;
    padding: .5rem 2rem;
    border: none;
    border-radius: 25px;
}
.curly {
    color: $purple;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar {
    padding: .5rem 2rem;
}