$purple: #8b37ff;
$off-white: rgb(240, 240, 240);

.btn-primary {
    background-color: $purple;
    padding: .5rem 2rem;
    border: none;
    border-radius: 25px;
}
.curly {
    color: $purple;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("/hero.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}
.navbar {
    padding: .5rem 2rem;
    background-color: $off-white;
}